# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.EAFramework.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\rsavchuk\Olya\EAFrameworkFolder\EAFramework\.idea\.idea.EAFramework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
